input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: oklch(0.59 0.18 15.6); /* rose-600 */
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: oklch(0.59 0.18 15.6);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
}
